---    
- name: Install keystone dependencies
  package:
    name:
    - cmake
    state: present
  become: yes

- name: get keystone
  git:
    repo: 'https://github.com/keystone-engine/keystone.git'
    dest: '{{ tool_dir }}keystone'

- name: setup linker for keystone
  template:
    src: keystone.conf.j2
    dest: /etc/ld.so.conf.d/keystone.conf
  become: yes

- name: run ldconfig
  shell: ldconfig
  become: yes

- name: Make keystone build dir
  file:
    path: '{{ tool_dir }}keystone/build'
    state: directory

- name: Make keystone shared library
  shell:  ../make-share.sh
  args:
    chdir: '{{ tool_dir }}keystone/build'
    creates: '{{ tool_dir }}keystone/build/kstool'

- name: Install keystone
  shell: make install
  args:
    chdir: '{{ tool_dir }}/keystone/build'
    creates: '/usr/local/bin/kstool'
  become: yes